:root{
  --maingreen: #419e9d;
  --mainred: #c74159;
  --maingray: #c6cac7;
  --mainnavy: #143265;
  --subblue:#4088b1;
  --subyellow:#ebd45d;
  --subpink:#da7e82;
}

/* font */
@font-face {
  font-family: 'Phenomena-Bold';
  src:url('../fonts/Phenomena-Bold.woff');
}
@font-face {
  font-family: 'Phenomena-Regular';
  src:url('../fonts/Phenomena-Regular.ttf');
}

*{
  /* font-family:'Phenomena-Bold','arial black','TsukuARdGothic-Regular','Hiragino Kaku Gothic ProN',sans-serif; */
}

/* loader */
.loaderBox{
  width: 100vw;
  height:100vh;
  background-color: var(--mainnavy);
}
#loader {
  width: 100%;
  height:52%;
	text-align: center;
	font-size: 25px;
  color: #efefef;
  vertical-align: middle;
  padding-top:48vh;
}
.loading,#load-text{
  font-family: 'Phenomena-Bold',sans-serif;
  letter-spacing: 3px;
}
#bar {
	width: 80%;
	height: 2px;
	border:1px solid #efefef;
	padding: 1px;
	margin-top: 10px;
  font-size: 1px;
  margin-left:10%;
  border-radius: 10px;
}
#bar span {
	display: block;
	width: 0px;
	height: 2px;
	background: var(--subpink);
}

/* pc画面での表示*/
@media screen and (min-width:480px) {
  .pc{
    width:100vw;
    height:100vh;
  }
  .pc p{
    position: fixed;
    text-align: center;
    width:100%;
    top:300px;
    font-size: 40px;
    z-index:10;
    font-family : "TsukuARdGothic-Regular",sans-serif;
  }
  .sp{
    /* display:none; */
    opacity: .3;
  }
}

/*スマホ版の時pcの文字を非表示*/
@media screen and (max-width: 499px){
  .pc{
    display: none;
  }
}

html,body,main,.sp,.wrap,.top{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}


/* top */
.top{
  width:100vw;
  height:100vh;
  position: fixed;
  top:0;
  left:0;
  padding-top: 50%;
  z-index: -5;
  background-color: var(--mainnavy);
}
.topBox{
  width:100%;
  height:auto;
  position: relative;
  animation:fadeIn 4s ease-out;
}
.top2{
  width:90%;
  margin-left:5vw;
}
.topImg{
  width:90%;
  margin-top: 18vh;
  margin-left:5vw;
  
}
@keyframes fadeIn{
  0%{opacity:0;}
  100%{opacity:1;}
}

.maru{
  /* zoom:.15; */
  transform: scale(0.12);
  position: absolute;
}
#maru1{
  top:-2.3vh;
  left:45vw;
}
#maru2{
  top:-1.2vh;
  left:36vw;
}
#maru3{
  top:3.4vh;
  left:42.4vw;
}
#maru4{
  top:0.9vh;
  left:40.4vw;
}
#maru5{
  top:4.5vh;
  left:35.5vw;
}
#maru6{
  top:10vh;
  left:50vw;
}
#maru7{
  top:11.4vh;
  left:44.3vw;
}
#maru8{
  top:13vh;
  left:46vw;
}

/* 芸工祭とは、テーマ */

/* scrollに合わせたfadeIn */
.toRight {
  opacity: 0;
  transform: translateX(-100px);
  transition:all 2s;
}
.LeftToRight {
  opacity: 1;
  transform: translateX(0);
}
.toLeft{
  opacity: 0;
  transform: translateX(-100px);
  transition:all 2s;
}
.RightToLeft{
  opacity: 1;
  transform: translateX(0);
}

.about{
  color:white;
  text-align: center;
  width:92%;
  height:auto;
  margin:0 auto;
  border:solid 1px white;
  position: relative;
  margin-left:calc((8% - 5px)/2);
  margin-top: 110px;
  margin-bottom: 80px;
  background-color: rgba(64,136,177,.8);
}
.theme{
  color:white;
  text-align: center;
  width:92%;
  height:auto;
  margin:0 auto;
  border:solid 1px white;
  position: relative;
  margin-left:calc((8% - 5px)/2);
  margin-bottom: 110px;
  background-color: rgba(235,212,93,.9);
}
.about img{
  width:22%;
  position: absolute;
  top:-86px;
  right:-11px;
}
.theme img{
  width:22%;
  position: absolute;
  top:-56px;
  left:10px;
}

.box{
  width:100%;
  height:100%;
  border:solid 1px white;
  position:absolute;
  top:3px;
  left:5px;
}
.about p,.theme p{
  font-size: 12px;
  letter-spacing: 2.5px;
  margin:12px 20px 20px 20px;
  margin-left:calc((8% - 5px)/2 + 20px) !important;
  font-family : "TsukuARdGothic-Regular",sans-serif;
}
.about h2,.theme h2{
  font-size: 20px;
  margin: 10px 0px 5px 0;
  font-family : "TsukuARdGothic-Regular",sans-serif;
  margin-top:20px;
  margin-left:calc((8% - 5px)/2);
}
.theme h3{
  margin:0;
  font-family: "Phenomena-Bold",sans-serif;
  font-size: 30px;
  margin-left:calc((8% - 5px)/2);
}

/* 線 */
.line{
  width:90vw;
  height:1px;
  border: 1px solid var(--maingreen);
  border-radius: 10px;
  background-color: var(--maingreen);
  margin: 0 auto;
  transform: scale(0);
}
.lineZoom{
  transform: scale(1.0);
  transition:all 1s;
}
.line1{
  margin-top: 100vh;
}
.line4{
  margin-bottom: 20px;
  transform: scale(1) !important;
}


/* movie */
.movieBox{
  width: 100%;
  height: 100%;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.movie{
  width: 100%;
  height: auto;
  position: relative;
}
.movie1{
  width: 80%;
  height: auto;
  margin-left: 4%;
  border:5px solid rgba(255,255,255,.5);
  border-radius: 10px;
}
.movie2{
  width: 80%;
  height: auto;
  margin-top: 2vh;
  margin-left: calc(16% - 10px);
  border:5px solid rgba(255,255,255,.5);
  border-radius: 10px;
}
.text{
  width:100%;
  height:10vh;
  white-space:nowrap;
  overflow:hidden;
  transform: scale(1,1.2);
}
.text p{
  color:rgba(255,255,255,.9);
  font-size: 10vh;
  margin: 0;
  font-family: "Phenomena-Bold",sans-serif;
  letter-spacing: 3px;
  line-height:10vh
}

/* member */
.member{
  width:100%;
  height:auto;
  margin:5vh 0;
  position: relative;
}
#tekibusho img{
  width:15vw;
  position: absolute;
  top:0;
  left:0;
  z-index: 5;
}
.memberBack{
  width:100%;
}
.member2{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  opacity: .5;
}
.memberImgBox{
  position: absolute;
  padding-left:2vw;
  top:0;
  left:0;
  width:98vw;
  height:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}
.memberImgDiv{
  width:calc(100% / 3);
  height:calc(90% / 7);
  margin-right: 0px;
}
.memberImg {
  width:100%;
  margin: 0px;
}
.memberImgDiv:first-child{ /*パッション*/
  width:39vw;
  margin: 5vh 0 0 7vw;
}
.memberImgDiv:nth-child(2){ /*じゃび*/
  width:30vw;
  margin: 5vh 17vw 0 4vw;
}
.memberImgDiv:nth-child(2) img{ /*じゃび*/
  padding-top: 2vh;
}
.memberImgDiv:last-child img{ /* ジョニー*/
  margin-top: 0px !important;
}

/* popup */
.black{
  width:100vw;
  height:100vh;
  position: fixed;
  top:0;
  left:0;
  background-color: rgba(0,0,0,.5);
  display: none; 
  z-index:20;
}
.popup{
  width:96vw;
  height:40vh;
  position:fixed;
  top:30vh;
  left:2vw;
  overflow:hidden;
  background-color: var(--maingreen);
  display:none;
  z-index:30;
  animation:none;
}
@keyframes popsIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 1;
  }
}
@keyframes popsOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}
#close{
  position: absolute;
  top:10px;
  right:10px;
  z-index: 10;
  width:15px;
  height:15px;
  text-align: center;
  vertical-align: middle;
  color: #595757;
}
.icon{
  position: absolute;
  top:-50%;
  left:0;
  width:100%;
  height:100%;
  object-fit: cover;
}
.bushocho{
  position: absolute;
  top:0;
  right:0;
  width:50%;
  height:100%;
  object-fit: cover;
}
.bushomei{
  color:white;
  text-align: left;
  width:45%;
  height:10%;
  background-color: var(--maingray);
  position: absolute;
  left:0;
  bottom:25%;
  margin: 0 auto;
  border-bottom:1px solid var(--maingray);
  padding-left:5%;
  line-height: 4vh;
  font-size:1.9vh;
  font-family : "TsukuARdGothic-Regular",sans-serif;
}
.name{
  color:white;
  text-align: right;
  width:45%;
  height:10%;
  background-color: var(--maingray);
  position: absolute;
  left:0;
  bottom:15%;
  margin: 0 auto;
  border-top:1px solid var(--maingray);
  padding-right:5%;
  line-height: 4vh;
  font-size:3.5vh;
  font-family : "TsukuARdGothic-Regular",sans-serif;
}